#color{
    background-color: blue;

}
#image{
    background-image: url("/julian-alvarez_416x234.webp");
}
#parrafo1{
    text-align: center
;
}
#parrafo2{
    text-align: center;
}
#parrafo3{
    text-align: center;
}
#colortext{
    color: blueviolet;
}
#borde{
    border-width: 400px;
    border-style: dashed;
    border-color: brown;
}
table{
    border: 2px solid chartreuse;
    border-collapse: collapse;
}
td{
    border: 2px solid chartreuse;
    border-collapse: collapse;
}
th{
    border: 2px solid chartreuse;
    border-collapse: collapse;
}